@import "tailwindcss";

.cursor {
    @apply !border-blue-500 !border-4 !animate-pulse !scale-120 !duration-455; 
}

.box {
    @apply w-16 h-16 md:h-18 md:w-18 rounded-lg flex items-center justify-center md:text-2xl font-bold ;
}
.boxPopUp{
  @apply w-16 h-16 md:h-18 md:w-18 rounded-lg md:text-2xl font-bold ;
}
.board-row {
    @apply flex justify-center gap-1 mb-1;
}

.box-active {
    @apply border-2 border-gray-800 bg-white text-gray-800 shadow-2xl cursor-pointer;
}

.box-inactive {
    @apply bg-sky-200 text-gray-400;
}

#keyboard {
    @apply mt-2 w-full  md:w-1/2 ;
}

.keyboard-row {
    @apply flex justify-center   gap-1 mt-1 mb-1 ;
}

.keyboard-key {
    @apply  flex-1 h-14 rounded-md flex items-center justify-center    text-lg font-semibold md:w-15 md:h-15  bg-sky-300 opacity-90  text-gray-800 cursor-pointer hover:bg-sky-400;
}


.modal {
  @apply fixed inset-0 flex justify-center items-center z-[1000];
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
}

.modal-content {
  @apply bg-sky-50 p-8 rounded text-center;
    max-height: 85vh; 
  /* Adiciona uma barra de rolagem vertical APENAS se o conteúdo transbordar */
  overflow-y: auto; 
}

/* Classe para esconder o modal */
.hidden {
  @apply hidden;
}

.theme-daily .keyboard-key.correct,
.theme-random .keyboard-key.correct,
.theme-timed .keyboard-key.correct {
  @apply bg-green-500 opacity-80 text-white;
}

.theme-daily .keyboard-key.present,
.theme-random .keyboard-key.present,
.theme-timed .keyboard-key.present {
  @apply bg-yellow-500 opacity-80 text-white;
}

.theme-daily .keyboard-key.absent,
.theme-random .keyboard-key.absent,
.theme-timed .keyboard-key.absent {
  @apply bg-gray-700 opacity-80 text-white;
}
.toast-container {

  @apply fixed top-5 left-1/2 -translate-x-1/2;
  

  @apply px-6 py-3 rounded-lg shadow-lg text-white font-semibold;

 
  @apply opacity-0 -translate-y-10;


  @apply transition-all duration-500 ease-in-out;
  

  z-index: 50;
}

.toast-container.visible {
  @apply opacity-100 translate-y-0;
}


.toast-container.success {
  @apply bg-green-500;
}

.toast-container.error {
  @apply bg-red-500;
}

.correct {
  @apply bg-green-500 text-white border-none;
}

.box.present {
  @apply bg-yellow-500 text-white border-none;
}

.box.absent {
  @apply bg-gray-700 text-white border-none;
}

button {
  @apply cursor-pointer;
}

.theme-daily body {
  @apply bg-sky-50;
}
.theme-daily header {
  @apply bg-sky-600;
}
.theme-daily footer, .theme-daily .box-inactive {
  @apply bg-sky-200;
}
.theme-daily .keyboard-key {
  @apply bg-sky-300 hover:bg-sky-400;
}
.theme-daily #random-mode-btn, .theme-daily #daily-mode-btn, .theme-daily #timed-mode-btn, .theme-daily #statsModalButton, .theme-daily #modeModalButton, .theme-daily button i {
  @apply bg-blue-500 hover:bg-blue-700;
}


/* TEMA VERDE (MODO LIVRE) */
.theme-random body {
  @apply bg-emerald-50;
}
.theme-random header {
  @apply bg-emerald-600;
}
.theme-random footer, .theme-random .box-inactive {
  @apply bg-emerald-200;
}
.theme-random .keyboard-key {
  @apply bg-emerald-300 hover:bg-emerald-400;
}
/* Para os botões no topo, podemos usar um verde um pouco mais forte */
.theme-random #random-mode-btn, .theme-random #daily-mode-btn, .theme-random #play-again-btn, .theme-random #statsModalButton, .theme-random #timed-mode-btn, .theme-random #modeModalButton, .theme-random button i {
  @apply bg-green-500 hover:bg-green-700;
}

.board-paused .box {
  @apply bg-rose-100;
}
/* TEMA VERMELHO (MODO RUSH) */
.theme-timed body {
  @apply bg-rose-50;
}
.theme-timed header {
  @apply bg-red-600;
}
.theme-timed footer, .theme-timed .box-inactive {
  @apply bg-red-300;
}
.theme-timed .keyboard-key {
  @apply bg-red-400 hover:bg-red-500;
}
/* Para os botões no topo, usamos um vermelho correspondente */
.theme-timed #random-mode-btn, .theme-timed #daily-mode-btn, .theme-timed #statsModalButton, .theme-timed #timed-mode-btn, .theme-timed #modeModalButton, .theme-timed button i {
  @apply bg-red-500 hover:bg-red-700;
}

.board-paused .box {
  @apply bg-rose-100 ;
}

.board-paused .box-active {
    @apply border-gray-400 bg-rose-100 ;
}